.detalhes{
    display: block;
}

.navbar{
    background:  rgba(255, 255, 255, 0.94);
}
.busines-menu{
    text-decoration: rgba(210,138,116,1);
    float: left;
}
.carrinho{
    text-decoration: rgba(0, 0, 0, 1);
    float: right;
}
.title{
    background: #8A817C;
}
h2{
    text-decoration: rgba(0, 0, 0, 1);
    text-align: center;
}
